/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C5DEFF;
    height: 100vg;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex
}

/* ESTILO HEADER-1 */

.logo {
    float: left;
    padding: 16px;
 }

 .logo img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
 }

.header-1 {
    padding: 20px 4%;
    background-color: #004AAD;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    transform: scale(1.05);
}

/* ESTILO BUSCA BOX */

.buscar-box {
    position: absolute;
    top: 14%; 
    left: 50%;
    transform: translate( -50%, -50%);
    background: #C5DEFF;
    height: 15px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscar-text {
    background: none;
    border: none;
    outline: none;
    padding: 30px;
    width: 350px;
    color: #003172;
    font-size: 16px;
    line-height: 40px;
    transition: .2s;
}

.buscar-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lupa-branca {
    display: none;
}
    
.buscar-box:hover > .buscar-btn .lupa-azul {
    display: none;
}

.buscar-box:hover > .buscar-btn .lupa-branca {
    display: block;
}

/* ESTILO LOGIN-CONTATO */

.login-contato {
    float: right;
}

.login-contato img {
    max-width: 45px;
    max-height: 45px;
    width: auto;
    height: auto;
}

.login-contato ul li {
    margin-left: 15px;
    display:inline-block;
    list-style: none;
}

.login-contato a {
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

/* ESTILO HEADER-2 */

.header-2 {
    background-color: #003172;
    padding: 10px 4%;
    text-align: center;  
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
}  

.header-2 ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
}

.header-2 nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.header-2 a:hover {
    color: #C5DEFF;
}

/*ESTILO GERAL*/

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #003172;
    color: #ffffff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #003172;
    font-size: 38px;
    text-align: center;
}

button {
    text-transform: uppercase;
}

button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #338cff;
    transform: scale(1.05);
}

/* ESTILO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #003172;
    font-size: 42px;
    line-height: 40px;
    text-transform: uppercase;
}

.topo-do-site .txt-topo-site p{
    color: #000000;
    font-size: 18px;
    text-align: justify;
    margin: 40px 0px;
    margin-right: 20px;
}

.topo-do-site .txt-topo-site span {
    color: #003172;
    text-transform: uppercase;
    font-weight: bold;
}

.topo-do-site .img-topo-site img{
    position: relative;
    border-radius: 10px;
}

/*ESTILO DAS ESPECIALIDADE*/

section.serv {
    padding: 40px 4%;
}

section.serv .flex{
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.serv .serv-box {
    color: #000000;
    font-size: 15px;
    padding: 40px;
    border-radius: 20px;
    margin-top: 15px;
    transition: .2s;
}

.serv .serv-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff92;
}

.serv .serv-box img{
    font-size: 70px;
    color: #003172;
}

.serv .serv-box h3 {
    font-size: 25px;
    margin: 15px 0;
    text-transform: uppercase;
}

.sub-titulo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 20px;
}

/* ESTILO SOBRE*/

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #000000;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #003172;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px;
    text-align: justify;
}

.sobre .txt-sobre .bnt-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #003172;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO FALE CONOSCO */

section.form {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color:#338bff68;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
}

form input::placeholder {
    color: #003172;
}

form textarea {
    resize: none;
    max-height: 150px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #003172;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px #0031723e;
    background-color: #004AAD;
}

footer .flex {
    justify-content: space-between;
}

.borda {
    border-top: 2px solid #003172;
}

footer .line-footer .bnt-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #338cff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

footer .line-footer p img{
    color: #003172;
    font-size: 22px;
}

footer .line-footer p a {
    color: #ffffff;
}
